.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1300px;
    height: 600px;
    background-image: url(./images/background.png);
  }
  
  .background-image {
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;

  }
  
  .female-character {
    height: 350px;
    width: 400px;
    position: block;
    top: 0;
    left: 0;
    opacity: 0;
  
  }
  
  .headline {
    position: absolute;
    opacity: 0;
 
  }
  
  .headline1 {
    display: center;
  }
  
  .headline2 {
    right: -100%;
  }
  
  .subheadline {
    position: absolute;
    opacity: 0;
  
  }
  
  .learn-more-btn {
    position: absolute;
    opacity: 0;

  }
  
  .logo {
    position: absolute;
    right: -100%;
    width: 300px;
    height: 300px;  }
  
  .replay-btn {
    position: absolute;
    opacity: 0;
   
  }
  